body{
    margin: 0;
}
.box1{
    height: 100vh;
    background-color: chocolate;
}
.box3{
    height: 100vh;
    background-color: chartreuse;
}
.box2{
    height: 100vh;
    background-color: rgb(51, 0, 255);
}
.box{
    width: 150px;
    height: 150px;
    background-color: rgb(184, 11, 54);
}
