                        a {
                            color: black;
                        }

                        .first {
                            background-image: url(../../public/images/back.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 100vh;
                            /* Trumpwallpapers\ -\ Bus\ Wallpaper\ 38\ \(1920×1200\)\ \(1\).jpeg */
                        }

                        .navbar-nav .nav-link {
                            color: black;
                            font-weight: bold;
                            font-size: 1.1rem;
                            color: white;
                        }

                        .form {
                            display: none;
                            width: 30%;
                            height: 50vh;
                            margin-right: auto;
                            margin-left: 8%;
                            margin-top: 8%;
                            background-color: rgba(17, 0, 255, 0.128);
                            padding: 1%;
                            border-radius: 3px;
                            box-shadow: 4px 5px 10px rgb(0, 0, 0);
                        }

                        .center {
                            margin-top: 100px;
                        }

                        h2 {
                            font-size: 2em;
                            font-weight: 700;
                            color: #282699;
                        }

                        .footer {
                            height: 20vh;
                            width: 100vw;
                            background-color: #282699;
                            margin-top: 10%;
                            color: white;
                        }

                        .adresse {
                            padding-top: 4%;
                        }

                        b .adresse a {
                            text-decoration: none;
                        }

                        .adresse a:hover {
                            color: yellowgreen;
                        }

                        .adresse i {
                            margin-left: 5%;
                            justify-content: space-between;
                            padding: 2px;
                        }

                        .navbar-brand {
                            font-weight: bold;
                        }

                        .navbar-brand:hover {
                            color: white;
                        }

                        .nav-link:hover {
                            color: rgb(231, 207, 88);
                        }

                        .wifi-img {
                            width: 7rem;
                            height: 3%;
                            margin-top: 2%;
                            margin-left: 9.5rem;
                        }

                        .plansText {
                            margin-top: 10%;
                        }

                        .plans {
                            margin-left: 7%;
                        }

                        .btn {
                            width: 15vw;
                            margin: auto;
                        }

                        .card h4 {
                            margin: auto;
                            padding-bottom: 0.5em;
                            color: rgb(49, 57, 32);
                        }

                        .fas {
                            font-size: 5rem;
                        }

                        .fas:first-child {
                            padding-left: 12rem;
                        }

                        .fas:last-child {
                            padding-right: 10rem;
                        }

                        .ser {
                            width: 8rem;
                        }

                        .ser:first-child {
                            margin-left: 10rem;
                        }

                        .ser:last-child {
                            margin-right: 10rem;
                        }

                        .btn {
                            margin: auto;
                        }

                        .card {
                            box-shadow: 1px 1px 6px black;
                        }
